.modal {
  display: none;
  overflow: scroll;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  background-color: rgba(0, 0,0, 0.7);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
}

.modal .modal-content {
  background-color: white;
  padding: 20px;
  width: 80%;
  margin: 40% auto;
  border: 5px solid#F2D024;
  border-radius: 5px;
  background-color: #FFF382;
  color: #453411;
}

.modal-content h4 {
  font-size: 1.2em;
  padding: 20px 0;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 0.8em;
}

.modal-content a {
  text-decoration: none;
  padding: 10px 40px;
  background-color: white;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #453411;
  background-color: #F2D024;
  color: #453411;
}

.modal ~ .touch-toast {
  position: fixed;
  bottom: 0;
  left: 0;
  /* min-height: 75px; */
  padding: 30px;
  width: 100%;
  overflow: hidden;
  display: none;  
  margin: 0 auto;
  background-color: #f3f4f5;
}