#save-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgb(115, 35, 195);
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1.1em;
  margin: 7px 0;
}

/* Main styling */
.hr {
  width: 80%;
  border-bottom: 2px dashed #B8C2CC;
  margin-top: 30px;
  background-color: #B8C2CC;
  margin: 50px auto;
}

.hr ~ p {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
  width: 85%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.toast {
  min-height: 83px;
  padding: 30px;
  text-align: center;
  visibility: hidden;
  background-color: #F8FAFC;
  width: 70%;
  max-width: 350px;
  margin: 30px auto;
}