.touch-modal {
  border-color: #F2D024;
  background-color: #FFF382;
  color: #453411;
}

.touch-modal p {
  margin-bottom: 20px;
  font-size: 0.8em;
}

.touch-modal a {
  border-color: #453411;
  background-color: #F2D024;
  color: #453411;
}